[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.5"
flask-login = "==0.6.1"
flask-sqlalchemy = "==2.5.1"
sqlalchemy = "==1.4.31"
werkzeug = "==3.0.6"

[dev-packages]

[requires]
python_version = "3.8"
